*{
	margin: 0 auto;
	padding: 0;
}
body {
	background-color: #dcdcdc;
}
header {
	height: 90px;
	border-bottom: 2px solid black;
	background-color: #90ee90;
	width: 1000px
}
header h1 {
	padding: 10px;
	margin-left: 20px;
}
header ul {
	float: left;
	width: 100%;
	background-color:#ededed;
	list-style:none;
	font:100% Tahoma;
	border-top: 2px solid black;
}
 
header ul li { 
	display: inline; 
} 
header ul li a {
	background-color:#ededed;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #ededed;
	padding: 5px 30px;
	float:left;
} 
header ul li a:hover {
	background-color:#d6d6d6;
	color: black;
	border-bottom:3px solid green;
}
#main {
	width: 1000px;
	height: 1000px;
	background-color: white;
}
#text {
	padding: 30px;
}