.products {
	h1{
		color: #227;
		padding-bottom: 0.5em;
		border-bottom: 3px dotted #77d;
	}
	table {
		border-collapse: collapse;
		margin: 15px 0px;
	}
	table tr td {
		padding: 5px;
		vertical-align: top;
	}
	.list_image {
		width: 60px;
		height: 70px;
	}
	.list_description {
		width: 60%;
		dl {
			margin: 0;
		}
		dt {
			color: #227;
			font-weight: bold;
			font-size: larger;
		}
		dd {
			margin: 0;
		}
	}
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
		a {
			background-color: #9c9;
			color: #333;
			text-decoration: none;
			border: 1px solid #808080;
			width: 60px;
			height: 15px;
			display: block;
			text-align: center;
			float: right;
		}
		a:hover {
			background-color:#D6D6D6;
			color: #6D6D6D;
			display: block;
		}
	}
	.list_line_even {
		background: white;
		border-bottom: 1px dotted #77d;
	}
	.list_line_odd {
		background: #f0f0f0;
		border-bottom: 1px dotted #77d;
	}
}
p a {
	background-color: #9c9;
	color: #333;
	text-decoration: none;
	border: 1px solid #808080;
	width: 90px;
	height: 20px;
	display: block;
	text-align: center;
	float: left;
	margin-top: -20px;
}
p a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	display: block;
}